* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    padding: 15px 10px;
    margin: 10px 12px;

}

#qrCode-container {
    background-color: hsl(0, 0%, 100%);
    padding: 22px;
    margin: 15px;
    border-radius: 15px;
}

img {
    border-radius: 15px;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 8px;
    font-weight: 700;

}

p {
    text-align: center;
    padding: 10px 8px;
    font-size: 15px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}

a {
    display: flex;
    text-decoration: none;
    color: #000;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    margin: 10px;
}